ul {
    list-style-type: none;
    padding: 20px;
    
}
ul li{
    background-color:#333;
    width : 180px;
    margin: 5px;
    border-radius : 6px;
    font-size : 20pt;
    color : black
    
}
ul li:hover { background-color:green; font-weight : bold;}
 .topnav{   overflow: hidden;
    background-color: #333;
    padding: 14px;
    }
    .topnav a{  display: inline;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    .topnav a:hover {   background-color: #ddd;
    color: black;
    }