.one {
    background-color : green;
    color : white;
    border-radius: 6px;    
}
.two {
    margin : 0px;
}
.three {
    color : black;
}
.four {
    padding : 15px;
}

ul {
    list-style-type: none;
    padding: 20px;
}
ul li{
    background-color:lightgray;
    width : 180px;
    margin: 5px;
    border-radius : 6px;
    
}
.five{
    text-decoration : none;
    color: black;
}
.liselector{
    background-color:green;
    width : 180px;
    margin: 5px;
    border-radius : 6px;
    
}