.one {
    background-color : green;
    color : white;
    border-radius: 6px;
    padding : 15px;  
}
.two {
    margin : 0px;

}
.three {
    color : black;
}
.four {
    background-color : lightgrey;
}
.five {
    background-color : skyblue;
    height : 700px;
}
ul {
    list-style-type: none;
    padding: 10px;
    margin : 0px;
}
ul li{
    background-color:lightgray;
    width : 180px;
    margin: 5px;
    border-radius : 6px;
    font-size : 15pt;
}
ul li.select{
    background-color:green;
    font-weight : bold;
    font-size : 18pt;
}
ul li a{
    text-decoration:none;
    color: black;
}
ul li:hover{ background-color: grey; font-weight : bold;}
table { border-collapse: collapse; width: 100%; }
            th, td {    text-align: left;
            padding: 8px;vertical-align: middle;}
            tr:nth-child(even){ background-color: #f2f2f2;}
            th {    background-color: #4CAF50;
            color: white;   }
            tr:hover { background-color:grey; }
*{  box-sizing: border-box; }
.column { float: left;
    padding: 10px;
    border: 0px; 
}
.column.side{ width: 15%; }
.column.middle{  width: 70%; }
.row{ display:inline-block; }